body {
	background-image:url("../images/hip-hop-background.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



#timer, #question_div {
	font-family: 'Shrikhand', cursive;
	font-size: 50px;
}

 .btn.btn-warning {
 	font-family: 'Shrikhand', cursive;
 	font-size: 30px;
 	padding: 20px;
 	margin: 20px;
 }

.correct, .incorrect, #choices_div {
	font-family: 'Shrikhand', cursive;
 	font-size: 30px;
 	
}

#start_button {
	position: fixed;
  	top: 20%;
	  left: 35%;
	  width: 500px;
	  height: 100px;
	  font-size: 50px;
	  font-family: cursive;
}

#timer {
	position: fixed;
	left: 10%;
	top: 10%;
}

#question_div{
	position: fixed;
	left: 30%;
	top: 10%;
} 
#choices_div{
position: fixed;
	left: 30%;
	top: 25%;
} 
.correct{
position: fixed;
	left: 30%;
	top: 40%;
} 
.incorrect {
	position: fixed;
	left: 30%;
	top: 45%;
}
