body {
	background-image:url("../images/hip-hop-background.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#logo {
	font-family: 'Shrikhand', cursive;
	font-size: 125px;
}

#timer {
	font-family: 'Shrikhand', cursive;
	font-size: 50px;
}

.container button{
	position: relative;
	top: 300px;
	margin: auto;		
	height: 100px; 
	font-family: 'Shrikhand', cursive;
	font-size: 50px;
	
}

#buttons {
	position: absolute;
	top: 50px;
	width: 100%;

}

#a, #b, #c {
	position: relative;
	width: 70%;
	padding: 10px;
	margin-left: 50px;
}

 
